.active, .jumbotron  {
    background-color: rgba(213, 164, 87,0.7);
    
}
.ayoo {
    font-weight: bold;
}
a.imp:hover {
    color: rgba(213, 164, 87,0.5);
}
#ayoo-active{
    color:white;
    font-weight: bold;
}
a.ayoo, a.imp {
    color: rgba(213, 164, 87);

}
a.ayoo:hover, .kemon:hover {
    color:white;
    background: rgba(213, 164, 87); 
}
#ppL {
    border-radius: 50%;
    margin:60px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#ppS {
    width: 30px;
    border-radius: 50%;
    Object-fit: cover;
    margin-top: -9px;
    margin-left: -20px;
}


#pp:hover {
    opacity:0.5;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#head {

}
.carousel {
  width:440px;
  height:260px;
}
.projects {
    background-image: url("https://github.com/1618lip/1618lip.github.io/blob/main/chalkboard_background.jpg?raw=true");
    margin-left: -16px;
    margin-right: -15px;
    
}
.lil {
    padding-top:64px!important;
    padding-bottom:64px!important;
}
#lil-bit {
    margin-bottom: 90px;
}
.lol {
    border-radius:8px;
}
.col-sm-3 {
    text-align:center;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgba(213, 164, 87,0.5);
  width: 100%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#sax {
    display: block;
        height: auto;
        max-width: 48%;
        margin: 0 auto;
        width: auto;
}
/* Add a transition attribute */
.panel:hover{
    transition:0.5s;
    padding:10px;
}

/* Create a rule so that the buttons begin invisibile */
.btn {
    visibility:hidden;
}

/* Create a rule so that the buttons become visible
    when you hover over panel */
.panel:hover .btn {
    visibility:visible;
}

