/*All Pages*/
.navbar-toggle {
    border:0px;
}
.navbar {
    background-size:cover;
    border:0px !important;
    color: blue;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
/*Homepage*/
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 110%;
}
.w3-display-right {
    padding-right: 48px;
}
#homepage-myname {
    padding: 15px;
    color: white;
}
#jumbotron-homepage-myname {
    background: url("https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989__480.jpg");
}
.w3-bar .w3-button {
  padding: 16px;
  padding-bottom:0px;
}
#feel-free-to-explore {
    background
}
/*Blog page*/
.jumbotron {
    background-color:#d5d5d5;
}
.col-sm-4 {
    margin-left:50px;
}
.table-hover {
    background-color:white;
}
#blog-sign {
    background-color:#54b8e2;
    color:white;
}
.all-quotes {
    Background-color:white;
}
/*About page*/

/*Project page*/